{% extends "base.html" %}

{% block title %}
患者报告
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/markdown.css">
{% endblock %}

{% block content %}
<div class="container mt-5 pt-4" style="max-width: 1200px">
    <!-- Header -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div style="font-weight: bold">
                <i class="bi bi-person fs-5"></i>
                患者信息
            </div>
            <div>
                UID:
                <span class="card-text" id="uidText" style="color: blue; font-weight: bold">
                    {{ uid }}
                </span>
                <span id="copyTip">已复制</span>
            </div>

        </div>
        <div class="card-body">
            {% if not info %}
                暂无其他信息
            {% else %}
                <!-- 表格展示 -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">UID</th>
                        {% if info.basic %}
                            {% for e in info.basic %}
                                <th>{{ e.name }}</th>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th scope="row">{{ uid }}</th>
                        {% if info.basic %}
                            {% for e in info.basic %}
                            <td>{{ e.value }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    </tbody>
                </table>

                {% if info.examination %}
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">项目</th>
                            <th scope="col">结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for e in info.examination %}
                            <tr>
                                <td>{{ e.name }}</td>
                                <td>{{ e.value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            {% endif %}

        </div>
    </div>

    <br>

    <!-- 按钮 -->
    <div class="action-buttons">
        <button id="generateBtn" class="btn btn-generate btn-primary">
            <i class="fas fa-magic"></i> 生成报告
        </button>
        <a href="/eval/patient/{{ uid }}">
            <button id="evaluateBtn" class="btn btn-evaluate btn-primary" style="display: none;">
                <i class="fas fa-star"></i> 评价报告
            </button>
        </a>
    </div>

    <br>

    <!-- Report Content -->
    <div id="reportStatus" class="medical-alert medical-alert-warning" style="display: none">
        暂无诊断报告，请点击【生成报告】按钮开始生成
    </div>

    <div id="loadingSpinner" style="display: none; text-align:center;">
        <div class="spinner-border text-primary" role="status">
        </div>
        <p>报告生成中，请稍候...</p>
    </div>

    <div id="reportContainer" style="display: none;">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div style="font-weight: bold;">
                    <i class="bi bi-table fs-5"></i>
                    患者报告
                </div>
                <button id="regenerateBtn" class="btn btn-generate"
                        style="display: none; background-color: white; color:grey; border-color: deepskyblue">
                    <i class="fas fa-redo"></i> 重新生成
                </button>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div id="reportContent" class="medical-report-content"></div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block js %}
<script src="/static/js/report.js"></script>
{% endblock %}